<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="opacity-0" lang="en">
<head th:replace="~{fragments/html_head :: html_head}"></head>
<body>
<div class="rubick px-5 sm:px-8 py-5 before:content-[''] before:bg-gradient-to-b before:from-theme-1 before:to-theme-2 dark:before:from-darkmode-800 dark:before:to-darkmode-800 before:fixed before:inset-0 before:z-[-1]">
    <div th:replace="~{UniversityAdmin/fragments/mobile_menu :: mobile_menu}"></div>
    <div class="mt-[4.7rem] flex md:mt-0">
        <div th:replace="~{UniversityAdmin/fragments/side_menu :: side_menu}"></div>
        <div class="md:max-w-auto min-h-screen min-w-0 max-w-full flex-1 rounded-[30px] bg-slate-100 px-4 pb-10 before:block before:h-px before:w-full before:content-[''] dark:bg-darkmode-700 md:px-[22px]">
            <div class="relative z-[51] flex h-[67px] items-center border-b border-slate-200">
                <nav aria-label="breadcrumb" class="flex -intro-x mr-auto hidden sm:flex">
                    <ol class="flex items-center text-theme-1 dark:text-slate-300">
                        <li>
                            <a th:href="@{/}">Scolarity</a>
                        </li>
                        <li class="relative ml-5 pl-0.5 before:content-[''] before:w-[14px] before:h-[14px] before:bg-chevron-black before:transform before:rotate-[-90deg] before:bg-[length:100%] before:-ml-[1.125rem] before:absolute before:my-auto before:inset-y-0 dark:before:bg-chevron-white text-slate-800 cursor-text dark:text-slate-400">
                            <a th:href="@{/room}">Room</a>
                        </li>
                        <li class="relative ml-5 pl-0.5 before:content-[''] before:w-[14px] before:h-[14px] before:bg-chevron-black before:transform before:rotate-[-90deg] before:bg-[length:100%] before:-ml-[1.125rem] before:absolute before:my-auto before:inset-y-0 dark:before:bg-chevron-white text-slate-800 cursor-text dark:text-slate-400">
                            <a th:href="'/room/detail?roomId=' + ${room.roomId}">Detail Room</a>
                        </li>
                    </ol>
                </nav>
                <div th:replace="~{fragments/profile_top_bar :: profile_top_bar}"></div>
            </div>
            <div class="intro-y mt-8 flex items-center">
                <h2 class="mr-auto text-lg font-medium">Room Detail</h2>
            </div>
            <div class="mt-5 grid grid-cols-11 gap-x-6 pb-20">
                <div class="intro-y col-span-11 2xl:col-span-12">
                    <form th:object="${room}" >
                        <div class="intro-y box mt-5 p-5">
                            <div class="rounded-md border border-slate-200/60 p-5 dark:border-darkmode-400">
                                <div class="flex items-center border-b border-slate-200/60 pb-5 text-base font-medium dark:border-darkmode-400">
                                    Room Information
                                </div>
                                <div class="mt-5">
                                    <div th:if="*{roomName != null}" data-tw-merge="" forminline="formInline" class="block sm:flex group form-inline mt-5 flex-col items-start pt-5 first:mt-0 first:pt-0 xl:flex-row">
                                        <label data-tw-merge="" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right xl:!mr-10 xl:w-64">
                                            <div class="text-left">
                                                <div class="flex items-center">
                                                    <div class="font-medium">Room Name</div>
                                                </div>
                                            </div>
                                        </label>
                                        <div class="mt-3 w-full flex-1 xl:mt-0">
                                            <div th:text="*{roomName}" id="product-name" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10"></div>
                                        </div>
                                    </div>
                                    <div th:if="*{roomDescription != null}" data-tw-merge="" forminline="formInline" class="block sm:flex group form-inline mt-5 flex-col items-start pt-5 first:mt-0 first:pt-0 xl:flex-row">
                                        <label data-tw-merge="" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right xl:!mr-10 xl:w-64">
                                            <div class="text-left">
                                                <div class="flex items-center">
                                                    <div class="font-medium">Room Description</div>
                                                </div>
                                            </div>
                                        </label>
                                        <div class="mt-3 w-full flex-1 xl:mt-0">
                                            <div data-tw-merge="" th:text="*{roomDescription}" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10" style="height: 100px;"></div>
                                        </div>
                                    </div>
                                    <div th:if="*{capacity != null}" data-tw-merge="" forminline="formInline" class="block sm:flex group form-inline mt-5 flex-col items-start pt-5 first:mt-0 first:pt-0 xl:flex-row">
                                        <label data-tw-merge="" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right xl:!mr-10 xl:w-64">
                                            <div class="text-left">
                                                <div class="flex items-center">
                                                    <div class="font-medium">Room Capacity</div>
                                                </div>
                                            </div>
                                        </label>
                                        <div class="mt-3 w-full flex-1 xl:mt-0">
                                            <div class="grid-cols-4 gap-2 sm:grid">
                                                <div th:text="*{capacity}" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="*{building != null}" data-tw-merge="" forminline="formInline" class="block sm:flex group form-inline mt-5 flex-col items-start pt-5 first:mt-0 first:pt-0 xl:flex-row">
                                        <label data-tw-merge="" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right xl:!mr-10 xl:w-64">
                                            <div class="text-left">
                                                <div class="flex items-center">
                                                    <div class="font-medium">Building</div>
                                                </div>
                                            </div>
                                        </label>
                                        <div class="mt-3 w-full flex-1 xl:mt-0">
                                            <div th:text="*{building.buildingName}" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 flex flex-col justify-end gap-2 md:flex-row">
                            <button data-tw-merge="" type="submit" class="transition duration-200 border shadow-sm inline-flex items-center justify-center px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&:hover:not(:disabled)]:bg-opacity-90 [&:hover:not(:disabled)]:border-opacity-90 [&:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed bg-primary border-primary text-white dark:border-primary w-full py-3 md:w-52"><a th:href="@{/room/all}">Back</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>