<head th:fragment="html_head" >
    <meta charset="utf-8">
    <title>Scolarite</title>
    <link rel="stylesheet" th:href="@{/dist/css/vendors/full-calendar.css}">
    <link rel="stylesheet" th:href="@{/dist/css/vendors/tom-select.css}">
    <link rel="stylesheet" th:href="@{/dist/css/vendors/tippy.css}">
    <link rel="stylesheet" th:href="@{/dist/css/vendors/dropzone.css}">
    <link rel="stylesheet" th:href="@{/dist/css/vendors/highlight.css}">
    <link rel="stylesheet" th:href="@{/dist/css/vendors/litepicker.css}" >
    <link rel="stylesheet" th:href="@{/dist/css/vendors/tiny-slider.css}" >
    <link rel="stylesheet" th:href="@{/dist/css/themes/rubick/side-nav.css}" >
    <link rel="stylesheet" th:href="@{/dist/css/vendors/leaflet.css}" >
    <link rel="stylesheet" th:href="@{/dist/css/vendors/simplebar.css}" >
    <link rel="stylesheet" th:href="@{/dist/css/components/mobile-menu.css}" >
    <link rel="stylesheet" th:href="@{/dist/css/app.css}" >
</head>