<div th:fragment="scripts">
    <script th:src="@{/dist/js/vendors/dom.js}"></script>
    <script th:src="@{/dist/js/vendors/tailwind-merge.js}"></script>
    <script th:src="@{/dist/js/vendors/tom-select.js}"></script>
    <script th:src="@{/dist/js/utils/helper.js}"></script>
    <script th:src="@{/dist/js/vendors/highlight.js}"></script>
    <script th:src="@{/dist/js/vendors/tippy.js}"></script>
    <script th:src="@{/dist/js/vendors/lucide.js}"></script>
    <script th:src="@{/dist/js/vendors/simplebar.js}"></script>
    <script th:src="@{/dist/js/vendors/transition.js}"></script>
    <script th:src="@{/dist/js/vendors/dropdown.js}"></script>
    <script th:src="@{/dist/js/vendors/popper.js}"></script>
    <script th:src="@{/dist/js/vendors/modal.js}"></script>
    <script th:src="@{/dist/js/components/base/theme-color.js}"></script>
    <script th:src="@{/dist/js/components/base/tom-select.js}"></script>
    <script th:src="@{/dist/js/components/base/highlight.js}"></script>
    <script th:src="@{/dist/js/components/base/source.js}"></script>
    <script th:src="@{/dist/js/components/base/preview-component.js}"></script>
    <script th:src="@{/dist/js/themes/rubick.js}"></script>
    <script th:src="@{/dist/js/components/base/lucide.js}"></script>
    <script th:src="@{/dist/js/components/mobile-menu.js}"></script>
    <script th:src="@{/dist/js/components/themes/rubick/top-bar.js}"></script>
    <script th:src="@{/dist/js/vendors/calendar/calendar.js}"></script>
    <script th:src="@{/dist/js/vendors/calendar/plugins/interaction.js}"></script>
    <script th:src="@{/dist/js/vendors/calendar/plugins/day-grid.js}"></script>
    <script th:src="@{/dist/js/vendors/calendar/plugins/time-grid.js}"></script>
    <script th:src="@{/dist/js/vendors/calendar/plugins/list.js}"></script>
    <script th:src="@{/dist/js/components/base/calendar/draggable.js}"></script>
    <script th:src="@{/dist/js/components/base/calendar/calendar.js}"></script>
</div>