<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="opacity-0" lang="en">
<head th:replace="~{fragments/html_head :: html_head}"></head>
<body>
<div class="rubick px-5 sm:px-8 py-5 before:content-[''] before:bg-gradient-to-b before:from-theme-1 before:to-theme-2 dark:before:from-darkmode-800 dark:before:to-darkmode-800 before:fixed before:inset-0 before:z-[-1]">
    <div th:replace="~{UniversityAdmin/fragments/mobile_menu :: mobile_menu}"></div>
    <div class="mt-[4.7rem] flex md:mt-0">
        <div th:replace="~{UniversityAdmin/fragments/side_menu :: side_menu}"></div>
        <div class="md:max-w-auto min-h-screen min-w-0 max-w-full flex-1 rounded-[30px] bg-slate-100 px-4 pb-10 before:block before:h-px before:w-full before:content-[''] dark:bg-darkmode-700 md:px-[22px]">
            <div class="relative z-[51] flex h-[67px] items-center border-b border-slate-200">
                <nav aria-label="breadcrumb" class="flex -intro-x mr-auto hidden sm:flex">
                    <ol class="flex items-center text-theme-1 dark:text-slate-300">
                        <li>
                            <a th:href="@{/}">Scolarity</a>
                        </li>
                        <li class="relative ml-5 pl-0.5 before:content-[''] before:w-[14px] before:h-[14px] before:bg-chevron-black before:transform before:rotate-[-90deg] before:bg-[length:100%] before:-ml-[1.125rem] before:absolute before:my-auto before:inset-y-0 dark:before:bg-chevron-white text-slate-800 cursor-text dark:text-slate-400">
                            <a th:href="@{/}">Dashboard</a>
                        </li>
                    </ol>
                </nav>
                <div th:replace="~{fragments/profile_top_bar :: profile_top_bar}"></div>
            </div>
            <div class="grid grid-cols-12 gap-6">
                <div class="col-span-12 2xl:col-span-9">
                    <div class="grid grid-cols-12 gap-6">
                        <!-- BEGIN: General Report -->
                        <div class="col-span-12 mt-8">
                            <div class="intro-y flex h-10 items-center">
                                <h2 class="mr-5 truncate text-lg font-medium">General Report</h2>
                                <a class="ml-auto flex items-center text-primary" th:href="@{/}">
                                    <i data-tw-merge="" data-lucide="refresh-ccw" class="stroke-1.5 mr-3 h-4 w-4"></i>
                                    Reload Data
                                </a>
                            </div>
                            <div class="mt-5 grid grid-cols-12 gap-6">
                                <div class="intro-y col-span-12 sm:col-span-6 xl:col-span-3">
                                    <div class="relative zoom-in before:box before:absolute before:inset-x-3 before:mt-3 before:h-full before:bg-slate-50 before:content-['']">
                                        <div class="box p-5">
                                            <div class="flex">
                                                <i data-tw-merge="" data-lucide="users" class="stroke-1.5 h-[28px] w-[28px] text-primary"></i>
                                            </div>
                                            <div class="mt-6 text-3xl font-medium leading-8" th:text="${students}"></div>
                                            <div class="mt-1 text-base text-slate-500">Students</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="intro-y col-span-12 sm:col-span-6 xl:col-span-3">
                                    <div class="relative zoom-in before:box before:absolute before:inset-x-3 before:mt-3 before:h-full before:bg-slate-50 before:content-['']">
                                        <div class="box p-5">
                                            <div class="flex">
                                                <i data-tw-merge="" data-lucide="award" class="stroke-1.5 h-[28px] w-[28px] text-warning"></i>
                                            </div>
                                            <div class="mt-6 text-3xl font-medium leading-8" th:text="${teachers}"></div>
                                            <div class="mt-1 text-base text-slate-500">Teachers</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="intro-y col-span-12 sm:col-span-6 xl:col-span-3">
                                    <div class="relative zoom-in before:box before:absolute before:inset-x-3 before:mt-3 before:h-full before:bg-slate-50 before:content-['']">
                                        <div class="box p-5">
                                            <div class="flex">
                                                <i data-tw-merge="" data-lucide="book" class="stroke-1.5 h-[28px] w-[28px] text-pending"></i>
                                            </div>
                                            <div class="mt-6 text-3xl font-medium leading-8" th:text="${subjects}"></div>
                                            <div class="mt-1 text-base text-slate-500">Subjects</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="intro-y col-span-12 sm:col-span-6 xl:col-span-3">
                                    <div class="relative zoom-in before:box before:absolute before:inset-x-3 before:mt-3 before:h-full before:bg-slate-50 before:content-['']">
                                        <div class="box p-5">
                                            <div class="flex">
                                                <i data-tw-merge="" data-lucide="building" class="stroke-1.5 h-[28px] w-[28px] text-success"></i>
                                            </div>
                                            <div class="mt-6 text-3xl font-medium leading-8" th:text="${rooms}"></div>
                                            <div class="mt-1 text-base text-slate-500">Rooms</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-12 mt-6 xl:col-span-4">
                            <div class="intro-y flex h-10 items-center">
                                <h2 class="mr-5 truncate text-lg font-medium">
                                    Teachers
                                </h2>
                            </div>
                            <div th:if="${limitedTeachers != null and !limitedTeachers.isEmpty()}" class="mt-5">
                                <div th:each="teacher : ${limitedTeachers}" class="intro-y">
                                    <div class="box zoom-in mb-3 flex items-center px-4 py-4">
                                        <div class="image-fit h-10 w-10 flex-none overflow-hidden rounded-md">
                                            <img th:src="@{/dist/images/universityAdmin/teacher.png}">
                                        </div>
                                        <div class="ml-4 mr-auto">
                                            <div class="font-medium"><span th:text="*{teacher.lastName + ' ' + teacher.firstName }"></span></div>
                                        </div>
                                        <a class="mr-3 flex items-center text-primary" th:href="@{/teachers/detail(teacherId=${teacher.id})}">
                                            <i data-tw-merge="" data-lucide="eye" class="stroke-1.5 mr-1 h-4 w-4"></i>
                                        </a>
                                    </div>
                                </div>
                                <a th:href="@{/teachers}" class="intro-y block w-full rounded-md border border-dotted border-slate-400 py-4 text-center text-slate-500 dark:border-darkmode-300" href="#">
                                    View More
                                </a>
                            </div>
                            <div th:if="${limitedTeachers == null or limitedTeachers.size() == 0}" class="mt-5">
                                <div role="alert" class="alert relative border rounded-md px-5 py-4 bg-primary border-primary text-white dark:border-primary pl-5 pr-16 intro-y box col-span-11 mb-6 dark:border-darkmode-600">
                                    <div class="flex items-center">
                                        <span>
                                            <i data-tw-merge="" data-lucide="info" class="stroke-1.5 mr-2 h-4 w-4"></i>
                                        </span>
                                        <span>
                                            No Teacher found. Please add a Teacher to proceed.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END: Weekly Best Sellers -->
                        <div class="col-span-12 xl:col-span-8 2xl:col-span-9">
                            <div class="box p-5">
                                <div data-tw-merge="" class="full-calendar">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>