<div th:fragment="side_menu">
    <nav class="side-nav hidden w-[80px] overflow-x-hidden pb-16 pr-5 md:block xl:w-[230px]">
        <a class="flex items-center pt-4 pl-5 intro-x" href="#">
            <img class="w-6" th:src="@{/dist/images/logo.svg}" alt="Midone - Tailwind Admin Dashboard Template">
            <span class="hidden ml-3 text-lg text-white xl:block"> Projet </span>
        </a>
        <div class="my-6 side-nav__divider"></div>
        <ul>
            <li>
                <a th:href="@{/}" th:class="${currentUrl == '/universityAdmin/index'} ? 'side-menu side-menu--active' : 'side-menu'">
                    <div class="side-menu__icon">
                        <i data-tw-merge="" data-lucide="home" class="stroke-1.5 w-5 h-5"></i>
                    </div>
                    <div class="side-menu__title">
                        Dashboard
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;" th:class="${currentUrl.startsWith('building') or currentUrl.startsWith('room_')} ? 'side-menu side-menu--active' : 'side-menu'">
                    <div class="side-menu__icon">
                        <i data-tw-merge="" data-lucide="building" class="stroke-1.5 w-5 h-5"></i>
                    </div>
                    <div class="side-menu__title">
                        Building
                        <div class="side-menu__sub-icon transform" th:classappend="${currentUrl.startsWith('building') or currentUrl.startsWith('room_')} ? 'rotate-180' : ''">
                            <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                    </div>
                </a>
                <ul th:class="${currentUrl.startsWith('building') or currentUrl.startsWith('room_')} ? 'side-menu__sub-open' : ''">
                    <li>
                        <a th:href="@{/building/add}" th:class="${currentUrl == 'building_add'} ? 'side-menu side-menu--active' : 'side-menu'">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="plus" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Add Building
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/building}" th:class="${currentUrl == 'building_list'} ? 'side-menu side-menu--active' : 'side-menu'">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="list" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                List Building
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu " th:classappend="${currentUrl.startsWith('room_')} ? 'side-menu--active' : ''">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="archive" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Room
                                <div class="side-menu__sub-icon transform" th:classappend="${currentUrl.startsWith('room_')} ? 'rotate-180' : ''">
                                    <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                            </div>
                        </a>
                        <ul th:class="${currentUrl.startsWith('room_')} ? 'side-menu__sub-open' : ''">
                            <li>
                                <a th:href="@{/room/add}" th:class="${currentUrl == 'room_add'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="plus" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        Add Room
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/room}" th:class="${currentUrl == 'room_list'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="list" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        List Room
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" th:class="${currentUrl.startsWith('chrono') or currentUrl.startsWith('day')} ? 'side-menu side-menu--active' : 'side-menu'">
                    <div class="side-menu__icon">
                        <i data-tw-merge="" data-lucide="hourglass" class="stroke-1.5 w-5 h-5"></i>
                    </div>
                    <div class="side-menu__title">
                        ChronoDay
                        <div class="side-menu__sub-icon transform" th:classappend="${currentUrl.startsWith('chrono') or currentUrl.startsWith('day')} ? 'rotate-180' : ''">
                            <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                    </div>
                </a>
                <ul th:class="${currentUrl.startsWith('chrono') or currentUrl.startsWith('day')} ? 'side-menu__sub-open' : ''">
                    <li>
                        <a th:href="@{/chronoDay}" th:class="${currentUrl == 'chronoDay_list'} ? 'side-menu side-menu--active' : 'side-menu'">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="list" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                List ChronoDay
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu " th:classappend="${currentUrl.startsWith('chronoDay_add')} ? 'side-menu--active' : ''">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="plus-circle" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Add ChronoDays
                                <div class="side-menu__sub-icon transform" th:classappend="${currentUrl.startsWith('chronoDay_add')} ? 'rotate-180' : ''">
                                    <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                            </div>
                        </a>
                        <ul th:class="${currentUrl.startsWith('chronoDay_add')} ? 'side-menu__sub-open' : ''">
                            <li>
                                <a th:href="@{/chronoDay/add}" th:class="${currentUrl == 'chronoDay_add'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="plus" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        Add ChronoDay
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/chronoDay/addChronos}" th:class="${currentUrl == 'chronoDay_add_chronos'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="plus" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        Add chronos to day
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/chronoDay/addDays}" th:class="${currentUrl == 'chronoDay_add_days'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="plus" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        Add days to chrono
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu " th:classappend="${currentUrl.startsWith('chrono_')} ? 'side-menu--active' : ''">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="clock" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Chronos
                                <div class="side-menu__sub-icon transform" th:classappend="${currentUrl.startsWith('chrono_')} ? 'rotate-180' : ''">
                                    <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                            </div>
                        </a>
                        <ul th:class="${currentUrl.startsWith('chrono_')} ? 'side-menu__sub-open' : ''">
                            <li>
                                <a th:href="@{/chrono/add}" th:class="${currentUrl == 'chrono_add'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="plus" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        Add Chrono
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/chrono}" th:class="${currentUrl == 'chrono_list'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="list" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        List Chrono
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu " th:classappend="${currentUrl.startsWith('day')} ? 'side-menu--active' : ''">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="calendar" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Days
                                <div class="side-menu__sub-icon transform" th:classappend="${currentUrl.startsWith('day')} ? 'rotate-180' : ''">
                                    <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                            </div>
                        </a>
                        <ul th:class="${currentUrl.startsWith('day')} ? 'side-menu__sub-open' : ''">
                            <li>
                                <a th:href="@{/day/add}" th:class="${currentUrl == 'day_add'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="plus" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        Add Day
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/day}" th:class="${currentUrl == 'day_list'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="list" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        List Day
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:" th:classappend="${#strings.startsWith(currentUrl, 'group_') or #strings.startsWith(currentUrl, 'assign_group_') or #strings.startsWith(currentUrl, 'subGroup') or #strings.startsWith(currentUrl, 'assign_subGroup_')} ? 'side-menu side-menu--active' : 'side-menu'">
                    <div class="side-menu__icon">
                        <i data-tw-merge="" data-lucide="users-2" class="stroke-1.5 w-5 h-5"></i>
                    </div>
                    <div class="side-menu__title">
                        Group
                        <div class="side-menu__sub-icon transform" th:classappend="${#strings.startsWith(currentUrl, 'group_') or #strings.startsWith(currentUrl, 'assign_group_') or #strings.startsWith(currentUrl, 'subGroup') or #strings.startsWith(currentUrl, 'assign_subGroup_')} ? 'rotate-180' : ''">
                            <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                    </div>
                </a>
                <ul th:class="${#strings.startsWith(currentUrl, 'group_') or #strings.startsWith(currentUrl, 'assign_group_') or #strings.startsWith(currentUrl, 'subGroup') or #strings.startsWith(currentUrl, 'assign_subGroup_')} ? 'side-menu__sub-open' : ''">
                    <li>
                        <a th:href="@{/group/add}" th:class="${currentUrl == 'group_add'} ? 'side-menu side-menu--active' : 'side-menu'">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="plus" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Add Group
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/group}" th:class="${currentUrl == 'group_list'} ? 'side-menu side-menu--active' : 'side-menu'">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="list" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                List Group
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/group/assignSubjects}" th:class="${currentUrl == 'assign_group_subjects'} ? 'side-menu side-menu--active' : 'side-menu'">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="book-open" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Assign Subjects
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu " th:classappend="${currentUrl.startsWith('subGroup') or currentUrl.startsWith('assign_subGroup')} ? 'side-menu--active' : ''">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="group" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                SubGroup
                                <div class="side-menu__sub-icon transform" th:classappend="${#strings.startsWith(currentUrl, 'subGroup') or #strings.startsWith(currentUrl, 'assign_subGroup_') or #strings.startsWith(currentUrl, 'subGroup') or #strings.startsWith(currentUrl, 'assign_subGroup_')} ? 'rotate-180' : ''">
                                    <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                            </div>
                        </a>
                        <ul th:class="${currentUrl.startsWith('subGroup') or #strings.startsWith(currentUrl, 'assign_subGroup_')} ? 'side-menu__sub-open' : ''">
                            <li>
                                <a th:href="@{/subGroup/add}" th:class="${currentUrl == 'subGroup_add'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="plus" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        Add SubGroup
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/subGroup}" th:class="${currentUrl == 'subGroup_list'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="list" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        List SubGroup
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/subGroup/assignStudents}" th:class="${currentUrl == 'assign_subGroup_students'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="user-plus" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        Assign Students
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" th:class="${currentUrl.startsWith('subject')  or currentUrl.startsWith('assign_subject_')} ? 'side-menu side-menu--active' : 'side-menu'">
                    <div class="side-menu__icon">
                        <i data-tw-merge="" data-lucide="book-open" class="stroke-1.5 w-5 h-5"></i>
                    </div>
                    <div class="side-menu__title">
                        Subject
                        <div class="side-menu__sub-icon transform" th:classappend="${currentUrl.startsWith('subject')  or currentUrl.startsWith('assign_subject_')} ? 'rotate-180' : ''">
                            <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                    </div>
                </a>
                <ul th:class="${currentUrl.startsWith('subject') or currentUrl.startsWith('assign_subject_')} ? 'side-menu__sub-open' : ''">
                    <li>
                        <a th:href="@{/subject/add}" th:class="${currentUrl == 'subject_add'} ? 'side-menu side-menu--active' : 'side-menu'">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="plus" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Add Subject
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/subject}" th:class="${currentUrl == 'subject_list'} ? 'side-menu side-menu--active' : 'side-menu'">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="list" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                List Subject
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/subject/assignTeachers}" th:class="${currentUrl == 'assign_subject_teacher'} ? 'side-menu side-menu--active' : 'side-menu'">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="user-plus" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Assign Teachers
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/subject/assignGroups}" th:class="${currentUrl == 'assign_subject_group'} ? 'side-menu side-menu--active' : 'side-menu'">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="user-plus" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Assign Groups
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" th:class="${currentUrl.startsWith('teacher_') or currentUrl.startsWith('student') or currentUrl.startsWith('assign_teacher_')} ? 'side-menu side-menu--active' : 'side-menu'">
                    <div class="side-menu__icon">
                        <i data-tw-merge="" data-lucide="users" class="stroke-1.5 w-5 h-5"></i>
                    </div>
                    <div class="side-menu__title">
                        User
                        <div class="side-menu__sub-icon transform" th:classappend="${currentUrl.startsWith('teacher_') or currentUrl.startsWith('student') or currentUrl.startsWith('assign_teacher_')} ? 'rotate-180' : ''">
                            <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                    </div>
                </a>
                <ul th:class="${currentUrl.startsWith('teacher_') or currentUrl.startsWith('student') or currentUrl.startsWith('assign_teacher_')} ? 'side-menu__sub-open' : ''">
                    <li>
                        <a href="javascript:;" class="side-menu " th:classappend="${currentUrl.startsWith('teacher_') or currentUrl.startsWith('assign_teacher_')} ? 'side-menu--active' : ''">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="user" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Teacher
                                <div class="side-menu__sub-icon transform" th:classappend="${currentUrl.startsWith('teacher_') or currentUrl.startsWith('assign_teacher_')} ? 'rotate-180' : ''">
                                    <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                            </div>
                        </a>
                        <ul th:class="${currentUrl.startsWith('teacher_') or currentUrl.startsWith('assign_teacher_')} ? 'side-menu__sub-open' : ''">
                            <li>
                                <a th:href="@{/teachers/add}" th:class="${currentUrl == 'teacher_add'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="plus" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        Add Teacher
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/teachers}" th:class="${currentUrl == 'teacher_list'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="list" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        List Teacher
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/teachers/assignSubjects}" th:class="${currentUrl == 'assign_teacher_subjects'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="book" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        Assign Subjects
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu " th:classappend="${currentUrl.startsWith('student')} ? 'side-menu--active' : ''">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="user" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Student
                                <div class="side-menu__sub-icon transform" th:classappend="${currentUrl.startsWith('student')} ? 'rotate-180' : ''">
                                    <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                            </div>
                        </a>
                        <ul th:class="${currentUrl.startsWith('student')} ? 'side-menu__sub-open' : ''">
                            <li>
                                <a th:href="@{/students/add}" th:class="${currentUrl == 'student_add'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="plus" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        Add Student
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/students}" th:class="${currentUrl == 'student_list'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="list" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        List Student
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" th:class="${currentUrl.startsWith('teacherConstraint_') or currentUrl.startsWith('roomConstraint_') or currentUrl.startsWith('groupConstraint_')} ? 'side-menu side-menu--active' : 'side-menu'">
                    <div class="side-menu__icon">
                        <i data-tw-merge="" data-lucide="grid" class="stroke-1.5 w-5 h-5"></i>
                    </div>
                    <div class="side-menu__title">
                        Constraint
                        <div class="side-menu__sub-icon transform" th:classappend="${currentUrl.startsWith('teacherConstraint_') or currentUrl.startsWith('roomConstraint_') or currentUrl.startsWith('groupConstraint_')} ? 'rotate-180' : ''">
                            <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                    </div>
                </a>
                <ul th:class="${currentUrl.startsWith('teacherConstraint_') or currentUrl.startsWith('roomConstraint_') or currentUrl.startsWith('groupConstraint_')} ? 'side-menu__sub-open' : ''">
                    <li>
                        <a href="javascript:;" class="side-menu " th:classappend="${currentUrl.startsWith('teacherConstraint_')} ? 'side-menu--active' : ''">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="user" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Teacher Constraint
                                <div class="side-menu__sub-icon transform" th:classappend="${currentUrl.startsWith('teacherConstraint_')} ? 'rotate-180' : ''">
                                    <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                            </div>
                        </a>
                        <ul th:class="${currentUrl.startsWith('teacherConstraint_')} ? 'side-menu__sub-open' : ''">
                            <li>
                                <a th:href="@{/teacherConstraints/add}" th:class="${currentUrl == 'teacherConstraint_add'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="plus" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        Add Teacher Constraint
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/teacherConstraints}" th:class="${currentUrl == 'teacherConstraint_list'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="list" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        List Teacher Constraint
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu " th:classappend="${currentUrl.startsWith('groupConstraint_')} ? 'side-menu--active' : ''">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="users-2" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Group Constraint
                                <div class="side-menu__sub-icon transform" th:classappend="${currentUrl.startsWith('groupConstraint_')} ? 'rotate-180' : ''">
                                    <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                            </div>
                        </a>
                        <ul th:class="${currentUrl.startsWith('groupConstraint_')} ? 'side-menu__sub-open' : ''">
                            <li>
                                <a th:href="@{/groupConstraints/add}" th:class="${currentUrl == 'groupConstraint_add'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="plus" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        Add Group Constraint
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/groupConstraints}" th:class="${currentUrl == 'groupConstraint_list'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="list" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        List Group Constraint
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="side-menu " th:classappend="${currentUrl.startsWith('roomConstraint_')} ? 'side-menu--active' : ''">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="archive" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Room Constraint
                                <div class="side-menu__sub-icon transform" th:classappend="${currentUrl.startsWith('roomConstraint_')} ? 'rotate-180' : ''">
                                    <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                            </div>
                        </a>
                        <ul th:class="${currentUrl.startsWith('roomConstraint_')} ? 'side-menu__sub-open' : ''">
                            <li>
                                <a th:href="@{/roomConstraints/add}" th:class="${currentUrl == 'roomConstraint_add'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="plus" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        Add Room Constraint
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/roomConstraints}" th:class="${currentUrl == 'roomConstraint_list'} ? 'side-menu side-menu--active' : 'side-menu'">
                                    <div class="side-menu__icon">
                                        <i data-tw-merge="" data-lucide="list" class="stroke-1.5 w-5 h-5"></i>
                                    </div>
                                    <div class="side-menu__title">
                                        List Room Constraint
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" th:class="${currentUrl.startsWith('schedule')} ? 'side-menu side-menu--active' : 'side-menu'">
                    <div class="side-menu__icon">
                        <i data-tw-merge="" data-lucide="calendar-check" class="stroke-1.5 w-5 h-5"></i>
                    </div>
                    <div class="side-menu__title">
                        Schedule
                        <div class="side-menu__sub-icon transform" th:classappend="${currentUrl.startsWith('schedule')} ? 'rotate-180' : ''">
                            <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                    </div>
                </a>
                <ul th:class="${currentUrl.startsWith('schedule')} ? 'side-menu__sub-open' : ''">
                    <li>
                        <a th:href="@{/schedule/all}" th:class="${currentUrl.startsWith('schedule_list_')} ? 'side-menu side-menu--active' : 'side-menu'">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="calendar" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Generate Schedule
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/schedule/selectTeacher}" th:class="${currentUrl == 'schedule_select_teacher'} ? 'side-menu side-menu--active' : 'side-menu'">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="search" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Schedule by Teacher
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/schedule/selectGroup}" th:class="${currentUrl == 'schedule_select_group'} ? 'side-menu side-menu--active' : 'side-menu'">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="search" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Schedule by Group
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a th:href="@{/logout}" th:class="${currentUrl == '/logout'} ? 'side-menu side-menu--active' : 'side-menu'">
                    <div class="side-menu__icon">
                        <i data-tw-merge="" data-lucide="log-out" class="stroke-1.5 w-5 h-5"></i>
                    </div>
                    <div class="side-menu__title">
                        Logout
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>