<div th:fragment="mobile_menu">
    <div class="mobile-menu group top-0 inset-x-0 fixed bg-theme-1/90 z-[60] border-b border-white/[0.08] dark:bg-darkmode-800/90 md:hidden before:content-[''] before:w-full before:h-screen before:z-10 before:fixed before:inset-x-0 before:bg-black/90 before:transition-opacity before:duration-200 before:ease-in-out before:invisible before:opacity-0 [&.mobile-menu--active]:before:visible [&.mobile-menu--active]:before:opacity-100">
        <div class="flex h-[70px] items-center px-3 sm:px-8">
            <a class="mr-auto flex">
                <img class="w-6" th:src="@{/dist/images/logo.svg}">
            </a>
            <a class="mobile-menu-toggler" >
                <i data-tw-merge="" data-lucide="bar-chart2" class="stroke-1.5 h-8 w-8 -rotate-90 transform text-white"></i>
            </a>
        </div>
        <div class="scrollable h-screen z-20 top-0 left-0 w-[270px] -ml-[100%] bg-primary transition-all duration-300 ease-in-out dark:bg-darkmode-800 [&[data-simplebar]]:fixed [&_.simplebar-scrollbar]:before:bg-black/50 group-[.mobile-menu--active]:ml-0">
            <a href="#" class="fixed top-0 right-0 mt-4 mr-4 transition-opacity duration-200 ease-in-out invisible opacity-0 group-[.mobile-menu--active]:visible group-[.mobile-menu--active]:opacity-100">
                <i data-tw-merge="" data-lucide="x-circle" class="stroke-1.5 mobile-menu-toggler h-8 w-8 -rotate-90 transform text-white"></i>
            </a>
            <ul class="py-2">
                <li>
                    <a href="/" th:class="${currentUrl == '/teacher/index'} ? 'menu menu--active' : 'menu'">
                        <div class="menu__icon">
                            <i data-tw-merge="" data-lucide="home" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                        <div class="menu__title">
                            Dashboard
                        </div>
                    </a>
                </li>
                <li>
                    <div th:if="${schedules.isEmpty()}" class="menu menu--disabled">
                        <div class="menu__icon">
                            <i data-tw-merge="" data-lucide="calendar-x" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                        <div class="menu__title">
                            Schedule
                        </div>
                    </div>
                    <a href="javascript:;" th:if="${!schedules.isEmpty()}" th:class="${currentUrl == '/teacher/schedule' or currentUrl == '/teacher/schedule/selectGroup' or currentUrl == '/teacher/schedule/findScheduleByGroup'} ? 'menu menu--active' : 'menu'">
                        <div class="menu__icon">
                            <i data-tw-merge="" data-lucide="calendar-check" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                        <div class="menu__title">
                            Schedule
                            <div class="menu__sub-icon transform " th:classappend="${currentUrl == '/teacher/schedule' or currentUrl == '/teacher/schedule/selectGroup' or currentUrl == '/teacher/schedule/findScheduleByGroup'} ? 'rotate-180' : ''">
                                <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                        </div>
                    </a>
                    <ul th:if="${!schedules.isEmpty()}" th:class="${currentUrl == '/teacher/schedule' or currentUrl == '/teacher/schedule/selectGroup' or currentUrl == '/teacher/schedule/findScheduleByGroup'} ? 'menu__sub-open' : ''">
                        <li>
                            <a th:href="@{/teacher/schedule}" th:class="${currentUrl == '/teacher/schedule'} ? 'menu menu--active' : 'menu'">
                                <div class="menu__icon">
                                    <i data-tw-merge="" data-lucide="calendar" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                                <div class="menu__title">
                                    My schedule
                                </div>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/teacher/schedule/selectGroup}" th:class="${currentUrl == '/teacher/schedule/selectGroup' or currentUrl == '/teacher/schedule/findScheduleByGroup'} ? 'menu menu--active' : 'menu'">
                                <div class="menu__icon">
                                    <i data-tw-merge="" data-lucide="search" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                                <div class="menu__title">
                                    Schedule by Group
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/teacher/teachers}" th:class="${currentUrl == '/teacher/teachers'} ? 'menu menu--active' : 'menu'">
                        <div class="menu__icon">
                            <i data-tw-merge="" data-lucide="users" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                        <div class="menu__title">
                            Co-workers
                        </div>
                    </a>
                </li>

                <li>
                    <div th:if="${schedules.isEmpty()}" class="menu menu--disabled">
                        <div class="menu__icon">
                            <i data-tw-merge="" data-lucide="user-x" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                        <div class="menu__title">
                            Students
                        </div>
                    </div>
                    <a th:if="${!schedules.isEmpty()}" th:href="@{/teacher/selectGroup}" th:class="${currentUrl == '/teacher/selectGroup' or currentUrl == '/teacher/students'} ? 'menu menu--active' : 'menu'">
                        <div class="menu__icon">
                            <i data-tw-merge="" data-lucide="users" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                        <div class="menu__title">
                            Students
                        </div>
                    </a>
                </li>
                <li>
                    <div th:if="${subjects <= 0}" class="menu menu--disabled">
                        <div class="menu__icon">
                            <i data-tw-merge="" data-lucide="book-x" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                        <div class="menu__title">
                            Subjects
                        </div>
                    </div>
                    <a th:if="${subjects > 0}" th:href="@{/teacher/subjects}" th:class="${currentUrl.startsWith('/teacher/subject')} ? 'menu menu--active' : 'menu'">
                        <div class="menu__icon">
                            <i data-tw-merge="" data-lucide="book" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                        <div class="menu__title">
                            Subjects
                        </div>
                    </a>
                </li>
                <li>
                    <a th:class="${currentUrl == '/logout'} ? 'menu menu--active' : 'menu'">
                        <div class="menu__icon">
                            <i data-tw-merge="" data-lucide="log-out" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                        <div class="menu__title">
                            <button data-tw-merge data-tw-toggle="modal" data-tw-target="#static-backdrop-modal-preview">Logout</button>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>