<div th:fragment="side_menu">
    <nav class="side-nav hidden w-[80px] overflow-x-hidden pb-16 pr-5 md:block xl:w-[230px]">
        <a class="flex items-center pt-4 pl-5 intro-x" href="#">
            <img class="w-6" th:src="@{/dist/images/logo.svg}" alt="Midone - Tailwind Admin Dashboard Template">
            <span class="hidden ml-3 text-lg text-white xl:block"> Projet </span>
        </a>
        <div class="my-6 side-nav__divider"></div>
        <ul>
            <li>
                <a th:href="@{/}" th:class="${currentUrl == '/teacher/index'} ? 'side-menu side-menu--active' : 'side-menu'">
                    <div class="side-menu__icon">
                        <i data-tw-merge="" data-lucide="home" class="stroke-1.5 w-5 h-5"></i>
                    </div>
                    <div class="side-menu__title">
                        Dashboard
                    </div>
                </a>
            </li>
            <li>
                <div th:if="${schedules.isEmpty()}" class="side-menu side-menu--disabled">
                    <div class="side-menu__icon">
                        <i data-tw-merge="" data-lucide="calendar-x" class="stroke-1.5 w-5 h-5"></i>
                    </div>
                    <div class="side-menu__title">
                        Schedule
                    </div>
                </div>
                <a th:if="${!schedules.isEmpty()}"  href="javascript:;" th:class="${currentUrl == '/teacher/schedule' or currentUrl == '/teacher/schedule/selectGroup' or currentUrl == '/teacher/schedule/findScheduleByGroup'} ? 'side-menu side-menu--active' : 'side-menu'">
                    <div class="side-menu__icon">
                        <i data-tw-merge="" data-lucide="calendar-check" class="stroke-1.5 w-5 h-5"></i>
                    </div>
                    <div class="side-menu__title">
                        Schedule
                        <div class="side-menu__sub-icon transform" th:classappend="${currentUrl == '/teacher/schedule' or currentUrl == '/teacher/schedule/selectGroup' or currentUrl == '/teacher/schedule/findScheduleByGroup'} ? 'rotate-180' : ''">
                            <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                    </div>
                </a>
                <ul th:if="${!schedules.isEmpty()}" th:class="${currentUrl == '/teacher/schedule' or currentUrl == '/teacher/schedule/selectGroup' or currentUrl == '/teacher/schedule/findScheduleByGroup'} ? 'side-menu__sub-open' : ''">
                    <li>
                        <a th:href="@{/teacher/schedule}" th:class="${currentUrl == '/teacher/schedule'} ? 'side-menu side-menu--active' : 'side-menu'">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="calendar" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                My Schedule
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/teacher/schedule/selectGroup}" th:class="${currentUrl == '/teacher/schedule/selectGroup' or currentUrl == '/teacher/schedule/findScheduleByGroup'} ? 'side-menu side-menu--active' : 'side-menu'">
                            <div class="side-menu__icon">
                                <i data-tw-merge="" data-lucide="search" class="stroke-1.5 w-5 h-5"></i>
                            </div>
                            <div class="side-menu__title">
                                Schedule by Group
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a th:href="@{/teacher/teachers}" th:class="${currentUrl == '/teacher/teachers'} ? 'side-menu side-menu--active' : 'side-menu'">
                    <div class="side-menu__icon">
                        <i data-tw-merge="" data-lucide="users" class="stroke-1.5 w-5 h-5"></i>
                    </div>
                    <div class="side-menu__title">
                        Co-workers
                    </div>
                </a>
            </li>
            <li>
                <div th:if="${schedules.isEmpty()}" class="side-menu side-menu--disabled">
                    <div class="side-menu__icon">
                        <i data-tw-merge="" data-lucide="user-x" class="stroke-1.5 w-5 h-5"></i>
                    </div>
                    <div class="side-menu__title">
                        Students
                    </div>
                </div>
                <a th:if="${!schedules.isEmpty()}" th:href="@{/teacher/selectGroup}" th:class="${currentUrl == '/teacher/selectGroup' or currentUrl == '/teacher/students'} ? 'side-menu side-menu--active' : 'side-menu'">
                    <div class="side-menu__icon">
                        <i data-tw-merge="" data-lucide="users" class="stroke-1.5 w-5 h-5"></i>
                    </div>
                    <div class="side-menu__title">
                        Students
                    </div>
                </a>
            </li>
            <li>
                <div th:if="${subjects <= 0}" class="side-menu side-menu--disabled">
                    <div class="side-menu__icon">
                        <i data-tw-merge="" data-lucide="book-x" class="stroke-1.5 w-5 h-5"></i>
                    </div>
                    <div class="side-menu__title">
                        Subjects
                    </div>
                </div>
                <a th:if="${subjects > 0}" th:href="@{/teacher/subjects}" th:class="${currentUrl.startsWith('/teacher/subject')} ? 'side-menu side-menu--active' : 'side-menu'">
                    <div class="side-menu__icon">
                        <i data-tw-merge="" data-lucide="book" class="stroke-1.5 w-5 h-5"></i>
                    </div>
                    <div class="side-menu__title">
                        Subjects
                    </div>
                </a>
            </li>
            <li>
                <a th:class="${currentUrl == '/logout'} ? 'side-menu side-menu--active' : 'side-menu'">
                    <div class="side-menu__icon">
                        <i data-tw-merge="" data-lucide="log-out" class="stroke-1.5 w-5 h-5"></i>
                    </div>
                    <div class="side-menu__title">
                        <button data-tw-merge data-tw-toggle="modal" data-tw-target="#static-backdrop-modal-preview">Logout</button>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>